/* ANIMATIONS */

@keyframes fade {
    from {
      transform: translateX(20%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

/* HOME */

.profil, .parcours, .contact {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    transform: translateX(300%);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.profil {
    z-index: 3;
}

.parcours {
    z-index: 2;
}

.contact {
    z-index: 1;
}

.profil.selected, .parcours.selected, .contact.selected {
    opacity: 1;
    transform: translateX(0);
    animation: fade 700ms ease-out;
}

.profil a {
    color: wheat;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.homecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px #00000049;
    height: auto;
    width: 60%;
    padding-top: 20px;
    font-size: 1em;
    z-index: 2;
}

.homecontent {
    display: flex;
    flex-direction: column;
    width: 70%;
    z-index: 3;
}

#biglogo {
    position: absolute;
    left: 20px;
    width: 25%;
    z-index: 3;
}

#bigadrar {
    position: absolute;
    left: 70px;
    width: 20%;
    z-index: 3;
    background-color: white;
}

.contact li, ul {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    line-height: 8px;
}


/* WEB */

.outils, .projets {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    transform: translateX(300%);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.outils.selected, .projets.selected {
    opacity: 1;
    transform: translateX(0);
    animation: fade 700ms ease-in-out;
}

.projets.selected p {
    text-align: justify;
}

.projets a {
    display: inline-block !important;
    width: auto;
    height: auto;
    color: wheat;
}

.outilscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px #00000049;
    height: auto;
    width: 60%;
    font-size: 0.8vw;
    z-index: 2;
}

.projetscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px #00000049;
    height: auto;
    width: 80%;
    font-size: 0.8vw;
    z-index: 2;
}


.webcontent {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.webcontent i {
    font-size: 0.8vw;
}

/* FONT AWESOME ICONS */

.webicons {
    height: auto;
    width: 40%;
}
.webtools {
    height: auto;
    width: 60%;
}


.troupe {
    height: auto;
    margin: auto;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    width: 92%;
}

/* DESIGN */

.designcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px #00000049;
    height: auto;
    width: 70%;
    font-size: 0.8vw;
    z-index: 2;
}

.designcontent {
    display: flex;
    text-align: justify;
    flex-direction: column;
    width: 90%;
}

.photoshop.selected, .illustrator.selected, .ae.selected, .indesign.selected, .xd.selected {
    opacity: 1;
    transform: translateX(0);
    animation: fade 700ms ease-in-out;
}

/* PHOTOSHOP */

.photoshop {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    transform: translateX(300%);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: -20px;
    z-index: 6;
}

.photoshop p {
    text-align: center;
    margin-top: 20px;
}

.photoshopcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px #00000049;
    height: auto;
    width: 65%;
    font-size: 0.8vw;
}

.photoshopcontainer a {
    display: inline-block !important;
    width: auto;
    margin: auto;
    text-decoration: none;
    color: wheat;
}


.carousel {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
    width: 90%;
}

.carousel-control-prev span {
    top: unset;
}

.carousel-control-prev-icon {
    width: 35px !important;
    height: 35px !important;
}
  
.carousel-control-next span {
    top: unset;
}

.carousel-control-next-icon {
    width: 35px !important;
    height: 35px !important;
}

.imagecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.photoshop.selected a {
    display: flex;
}

.photoshopimage {
    display: flex;
    margin-right: auto;
    margin-left: 100px;
    align-self: flex-start;
    width: 50%;
    border: 1px black solid;
    box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.45);
}

.photoshopimage2 {
    display: flex;
    align-self: flex-end;
    margin-left: auto;
    width: 50%;
    border: 1px black solid;
    box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.45);
}

/* ILLUSTRATOR */

.illustrator {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    transform: translateX(300%);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: -50px;
    z-index: 5;
}

.illustrator p {
    text-align: center;
    margin-top: 10px;
}

.illustratorcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px #00000049;
    height: auto;
    width: 55%;
    font-size: 0.8vw;
}

.illustratorcontainer a {
    display: inline-block !important;
    width: auto;
    margin: auto;
    text-decoration: none;
    color: wheat;
}

.illustratorimage {
    display: flex;
    margin: auto;
    width: 50%;
    height: auto;
}

.illustratorimage2 {
    display: flex;
    margin: auto;
    width: 30%;
}

/* AFTER EFFECT */

.ae {
    display: flex;
    top: 20%;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    transform: translateX(300%);
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 50%;
    z-index: 4;
}

.ae p {
    text-align: center;
    margin-top: 10px;
}

.aecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px #00000049;
    height: auto;
    width: 90%;
    font-size: 0.8vw;
    z-index: 2;
}

.aecontainer a {
    display: inline-block !important;
    width: auto;
    margin: auto;
    text-decoration: none;
    color: wheat;
}

.imagecontainer2 {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.aeimage {
    display: flex;
    margin: 20px;
    width: 100%;
    border: 1px black solid;
    box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.45);
}

/* INDESIGN */

.indesign {
    display: flex;
    top: 20%;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    transform: translateX(300%);
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 50%;
    z-index: 3;
}

.indesign p {
    text-align: center;
    margin-top: 10px;
}

.indesignimage {
    display: flex;
    margin: auto;
    width: 90%;
}

.illustratorcontainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px #00000049;
    height: auto;
    width: 50%;
    line-height: 25px;
    font-size: 0.8vw;
}


/* XD */

.xd {
    display: flex;
    top: 20%;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    transform: translateX(300%);
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 50%;
    z-index: 2;
}

.xd p {
    text-align: center;
    margin-top: 10px;
}

.xdcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px #00000049;
    height: auto;
    width: 40%;
    line-height: 25px;
    font-size: 0.8vw;
}

.xdcontainer a {
    display: inline-block !important;
    width: auto;
    margin: auto;
    text-decoration: none;
    color: wheat;
}

.xdimage {
    display: flex;
    margin: 30px;
    width: 50%;
    border: 1px black solid;
    box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.45);
}

.xd p {
    text-align: center !important;
}