/* Ecrans 1600x900 ----------- */

@media screen and (max-width : 1600px) {

    /* HOME */

    .profil, .parcours, .contact {
        margin: auto;
        margin-top: -50px;
    }

    .homecontainer {
        width: 60%;
        height: auto;
    }

    .homecontent {
        width: 70%;
        height: 100%;
        margin: auto;
        font-size: 0.7em;
    }

    .container {
        display: flex;
        width: 600px;
    }

    /* WEB */    

    .outilscontainer {
        width: 80%;
        align-items: center;
        justify-content: center;
        height: auto;
        font-size: 0.7em;
        text-align: center;
    }

    .projetscontainer {
        width: 80%;
        height: auto;
        font-size: 0.7em;
        text-align: center;
    }

    .webcontent {
        width: 80%;
        margin: auto;
    }

    .troupe {
        padding: unset;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    /* DESIGN */

    .photoshop {
        width: 95%;
        height: 80%;
        margin-top: 40px;
    }

    .carousel {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 2px solid white;
        width: 65%;
    }
    
    .carousel-control-prev span {
        top: unset;
        margin-left: -30px;
    }
    
    .carousel-control-prev-icon {
        width: 35px !important;
        height: 35px !important;
    }
      
    .carousel-control-next span {
        top: unset;
        margin-left: -15px;
    }
    
    .carousel-control-next-icon {
        width: 35px !important;
        height: 35px !important;
    }

    .illustrator {
        margin-top: -60px;
    }

    .indesignimage {
        display: flex;
        margin: auto;
        width: 90%;
        padding: 30px;
    }

    .indesigncontainer {
        width: 80%;
    }
    
    .xdcontainer {
        width: 70%;
    }

    .xdimage {
        width: 30%;
    }
}


/* Smartphones (portrait) ----------- */

@media screen and (max-width : 480px) {

    body {
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
        height: 100vh !important;
        width: 100vw !important;
        overflow-y: hidden !important;
    }


    nav {
        height: 10vh !important;
    }

    #main {
        position: unset;
        background-size: cover;
        height: 90vh !important;
    }

    #menu {
        width: 80%;
    }

    #menu a {
        padding-top: 23px;
        font-size: 4em;
    }

    #logo {
        margin-top: 25px;
        margin-left: 10px;
        width: 13%;
    }
    
    span {
        display: none;
    }

    #box {
        justify-content: unset;
        align-items: unset;
        height: 100% !important;
    }

    #box > #sidemenu {
        display: flex;
        position: relative !important;
        flex-direction: row;
        align-items: flex-start !important;
        height: 15%;
        width: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0.4) 100%);
        padding-top: 10px;
        order: 2;
    }

    #sidemenu li {
        display: inline;
        width: auto;
        font-size: 4em;
        padding-left: 0 !important;
        line-height: 0px;
    }

    #sidemenu li::before {
        content: "";
        margin-right: 0 !important;
    }

    .liactive {
        background-image: none;
        background-color: white !important;
    }

    #content {
        position: relative !important;
        width: 100% !important;
        margin: 0 !important;
        justify-content: center;
        align-items: center;
        height: 90% !important;
        order: 1;
    }

/* HOME */

    .profil, .parcours, .contact {
        margin: auto;
    }

    #profil {
        background-color: black;
        -webkit-mask-image: url("../images/svg/profil.svg");
        mask-image: url("../images/svg/profil.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        white-space: nowrap;
        font-size: 0 !important;
        overflow: hidden;
    }

    #parcours {
        background-color: black;
        -webkit-mask-image: url("../images/svg/parcours.svg");
        mask-image: url("../images/svg/parcours.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        white-space: nowrap;
        font-size: 0 !important;
        overflow: hidden;
    }

    #contact {
        background-color: black;
        -webkit-mask-image: url("../images/svg/contact.svg");
        mask-image: url("../images/svg/contact.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        white-space: nowrap;
        font-size: 0 !important;
        overflow: hidden;
    }

    .homecontainer {
        width: 100%;
        height: 100%;
    }

    .container {
        display: flex;
        width: 600px;
        background-color: khaki;
    }

    .homecontent {
        width: 90%;
        height: 100%;
        margin: auto;
        overflow-y: scroll;
        font-size: 0.7em;
    }

    #biglogo {
        display: none;
    }

    #bigadrar {
        display: none;
    }

    .contact li, .contact ul {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        margin: 0;
        margin-left: 20px;
        padding: 0;
        line-height: 8px;
    }

/* WEB */    

    .outilscontainer {
        margin-bottom: 10%;
        width: 100%;
        height: auto;
        font-size: 0.7em;
    }

    .projetscontainer {
        width: 100%;
        height: auto;
        font-size: 0.7em;
    }

    .webcontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        margin: auto;
        text-align: center;
    }

    .troupe {
        width: 100% !important;
    }

    .webcontent i {
        font-size: 1em;
    }

    .webicons {
        display: flex;
        margin: auto;
        width: 90%;
    }
    .webtools {
        display: flex;
        margin: auto;
        width: 100%;
    }

    #outils {
        background-color: black;
        -webkit-mask-image: url("../images/svg/outils.svg");
        mask-image: url("../images/svg/outils.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        white-space: nowrap;
        font-size: 0 !important;
        overflow: hidden;
    }

    #projets {
        background-color: black;
        -webkit-mask-image: url("../images/svg/projets.svg");
        mask-image: url("../images/svg/projets.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        white-space: nowrap;
        font-size: 0 !important;
        overflow: hidden;
    }


/* DESIGN */

    /* PHOTHOSHOP */

    #photoshop {
        background-color: black;
        -webkit-mask-image: url("../images/svg/ps.svg");
        mask-image: url("../images/svg/ps.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        white-space: nowrap;
        font-size: 0 !important;
        overflow: hidden;        
    }

    .photoshop {
        width: 95%;
        height: 80%;
        margin-top: 10%;
    }

    .photoshopimage {
        display: flex;
        margin: auto;
        width: 100%;
        border: 1px black solid;
        box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.45);
    }
    
    .photoshopimage2 {
        display: flex;
        margin: auto;
        width: 100%;
        border: 1px black solid;
        box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.45);
    }

    .designcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 90%;
        font-size: 0.5em;
    }
    
    .designcontent {
        display: flex;
        text-align: justify;
        flex-direction: column;
        width: 80%;
    }
    
    .imagecontainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    /* ILLUSTRATOR */
    

    #illustrator {
        background-color: black;
        -webkit-mask-image: url("../images/svg/ai.svg");
        mask-image: url("../images/svg/ai.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        white-space: nowrap;
        font-size: 0 !important;
        overflow: hidden;        
    }

    .illustrator {
        width: 95%;
        height: 80%;
        margin-top: 10%;
    }

    .illustratorimage {
        display: flex;
        margin: auto;
        width: 55%;
        height: auto;
        border: 1px black solid;
        box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.45);
        z-index: 1;
    }
    
    .illustratorimage2 {
        display: flex;
        margin: auto;
        width: 40%;
        border: 1px black solid;
        box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.45);
        z-index: 2;
    }

    #ae {
        background-color: black;
        -webkit-mask-image: url("../images/svg/ae.svg");
        mask-image: url("../images/svg/ae.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        white-space: nowrap;
        font-size: 0 !important;
        overflow: hidden;        
    }

    #indesign {
        background-color: black;
        -webkit-mask-image: url("../images/svg/id.svg");
        mask-image: url("../images/svg/id.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        white-space: nowrap;
        font-size: 0 !important;
        overflow: hidden;        
    }

    #xd {
        background-color: black;
        -webkit-mask-image: url("../images/svg/xd.svg");
        mask-image: url("../images/svg/xd.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        white-space: nowrap;
        font-size: 0 !important;
        overflow: hidden;        
    }


}
